@import "../../../../node_modules/sass-mq/mq";
@import "../../../assets/styles/1_settings/s-project";

.o-layout {
  padding-left: 35px;
  padding-right: 35px;

  @include mq($from: large) {
    width: $max-width-page;
    margin-left: auto;
    margin-right: auto;
  }

  &--page {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &--wider {
    padding-left: 100px;
    padding-right: 100px;

    @include mq($until: large) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
